<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.;uid=sa;pwd=123;database=soobiaowx;"/>
    <add name="U8ConnectionString" connectionString="server=.;uid=sa;pwd=123;database=Ufsoft_U8_Retail;"/>
    <add name="SBConnectionString" connectionString="server=.;uid=sa;pwd=sasa;database=SooBiao;"/>
    <add name="DAConnectionString" connectionString="server=192.168.1.222;database=Data_Analysis;uid=sa;pwd=123456;"/>
  </connectionStrings>
</configuration>